[dirs]
data_dir = data
tmp_dir = tmp

[vk_parser]
iter_max_objects = 10000
# 10 лет
photo_max_shift_time = 157788000
# 'fast' ot 'slow'
speed_parser = fast

[vk_auth_account]
login = ''
passowrd = ''

[vk_auth_bot]
id = ''
secret_key = ''
service_key = ''
